<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Шашлычный домик</title>
    <script src="htts://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <h1>Меню</h1>
    <div id="menu">
        {% for item in menu_items %}
            <div>
                <span>{{ item.title }} - {{ item.price }} py6.</span>
                <button>B корзину</button>
            </div>
        {% endfor %}
    </div>
</body>
</html>
